.purple-gradient {
    background: linear-gradient(to bottom, #8f6ab6, #5d3c81);
  }
  .purple-bg {
    background-color:#8662c4;
  }
  .purple-text {
    color: #12022e;
  }
  .purpe-bg {
background-color: #bca9dc;
  }
  .purple-t {
    background-color: #8c6ec3;
  
  }